API_BASE_URL=backend
API_PORT=8000
CLIENT_BASE_URL=0.0.0.0
CLIENT_PORT=3000
DOMAIN=citrustrading.ch
SERVER_PATH=/root/citrustrading.ch
SSH_ALIAS=theboilerplate

NEXT_PUBLIC_API=http://${API_BASE_URL}:${API_PORT}
NEXT_PUBLIC_SERVER=http://${CLIENT_BASE_URL}:${API_PORT}
NEXT_PUBLIC_LOCAL=http://${CLIENT_BASE_URL}:${CLIENT_PORT}
NEXT_PUBLIC_DEFAULT_OG_IMAGE=http://${CLIENT_BASE_URL}:${CLIENT_PORT}/og-image.jpg

RESEND_API_KEY=xxxxxxxxxxx