@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overscroll-none;
}
html {
  @apply relative min-h-screen;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
  @apply relative w-fit pb-1 
  /* rounded underline */
  after:content-[''] after:block after:w-full after:h-2 after:absolute after:rounded-md after:left-0 after:bottom-0 after:z-[-1];
}

.playfair {
  font-family: 'Playfair Display', serif;
}

/* text */
#content p, #content ul {
  @apply  mb-4;
}
#content p, #content li {
  color: hsl(var(--foreground))
}
#content strong {
  @apply font-bold
}
#content li {
  @apply  ml-8 list-disc;
}
#content a {
  @apply underline;
  color: hsl(var(--foreground))
}

/* Slider */
.swiper {
  --swiper-theme-color: hsl(var(--secondary-background));
  --swiper-pagination-bullet-active-color: hsl(var(--secondary-background));
  --swiper-pagination-bullet-inactive-color: hsl(var(--secondary-background));
}

/* Navigation font start */
.swiper-button-prev,
.swiper-button-next {
  &:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
  }
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  &:after {
    content: 'prev';
  }
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  &:after {
    content: 'next';
  }
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
